
body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
}
li {
    color: darkgreen;
}
header, footer {
    padding: 10px;
    color: khaki;
    background-color: forestgreen;
}

section {
    margin: 5px;
    padding: 10px;
    background-color: darkturquoise;
}

article {
    margin: 5px;
    padding: 10px;
    background-color: brown;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}